INVEST_TOKEN=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DIALECT=postgres
DB_PORT=3579

ROBOT_ACCOUNT_IDS=2054310628
ROBOT_OBSERVE_ACCOUNT_IDS=2002465405,2006532697,2201800992
ROBOT_ACCOUNT_ALIASES=2054310628:торговый счет,2002465405:долгосрочный счет,2006532697:ИИС,2201800992:Инвесткопилка
ROBOT_PROTECTED_ACCOUNT_IDS=2002465405,2006532697,2091363693,2045881687,2051251635,2201800992,2011287614
ROBOT_DRY_RUN=true
ROBOT_INTERVAL_MS=60000
ROBOT_POSITION_DELAY_MS=1000
ROBOT_ENABLED_STRATEGIES=stop-loss,trailing-stop,profit-take,watchlist-buy
ROBOT_BUY_TICKERS=SBER,T,YDEX
ROBOT_MAX_ORDER_RUB=1000
ROBOT_MAX_DAILY_ORDERS=3
ROBOT_MAX_DAILY_RUB=2000
ROBOT_SIGNAL_COOLDOWN_MS=1800000
ROBOT_SIGNAL_PRICE_CHANGE_PERCENT=1
ROBOT_MIN_PROFIT_PERCENT=0.5
ROBOT_STOP_LOSS_PERCENT=3
ROBOT_TRAILING_STOP_PERCENT=2
ROBOT_TRAILING_BASELINE=observed
ROBOT_MAX_LOTS_PER_ORDER=1
ROBOT_LIVE_CONFIRMATION=

ROBOT_HTTP_ENABLED=true
ROBOT_HTTP_PORT=3000
ROBOT_WEB_USERNAME=robot
ROBOT_WEB_PASSWORD=
